/* Navbar specific styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color:#333;
  color: white;
  width: calc(100% - 40px);
  top: 0;
  z-index: 1000;
  overflow: hidden;
  border: solid red;
}

.navbar .logo img {
  height: 40px;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .nav-links li {
  margin-left: 20px;
}

.navbar .nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar .nav-links a:hover {
  color: red;
}

.navbar .search-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar .nav-links {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    text-align: center;
  }

  .navbar .nav-links li {
    margin: 10px 0;
  }

  .navbar .search-icon {
    display: block;
  }

  .navbar .nav-links.active {
    display: flex;
  }
  .navbar .nav-links a:hover {
    color: red;
  }
}
